<div class="pensamento {{ thought.model }} ff-roboto-mono" [ngClass]="thoughtLenght()">
  <img src="../../../../assets/images/{{ thought.model }}.png" alt="Aspas do pensamento">
  <p class="conteudo">{{ thought.content }}</p>
  <p class="autoria"><b>{{ thought.authorship }}</b></p>
  <div class="acoes">
    <button class="botao-favorito" (click)="updateFavorite()">
      <img src="../../../../assets/images/icone-favorito-{{ changeFavoriteIcon() }}.png" alt="Ícone de favorito">
    </button>
    <button class="botao-editar" routerLink="/thoughts/editThought/{{thought.id}}">
      <img src="../../../../assets/images/icone-editar.png" alt="Ícone de editar">
    </button>
    <button class="botao-excluir" routerLink="/thoughts/deleteThought/{{thought.id}}">
      <img src="../../../../assets/images/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</div>
